<!-- Font Awesome CDN -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  rel="stylesheet"
/>

<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      
      <!-- Brand -->
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">FoodExplorer</h5>
        <p class="small mb-0">Delivering delicious food to your doorstep since 2023.</p>
      </div>

      <!-- Contact -->
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">Contact Us</h5>
        <ul class="list-unstyled small">
          <li><i class="fa-solid fa-phone me-2"></i>+91 123456789</li>
          <li><i class="fa-solid fa-envelope me-2"></i>info@foodexplorer.com</li>
        </ul>
      </div>

      <!-- Social Links -->
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">Follow Us</h5>
        <div class="d-flex gap-3 fs-4">
          <a href="#" class="text-white"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>

    </div>

    <hr class="border-light">
    <p class="text-center small mb-0">© 2023 FoodExplorer. All rights reserved.</p>
  </div>
</footer>
